# ignored folders
grobid/venv
openalex/crawler/outputs-*
openalex/requester/outputs-*
openalex/requester/outputs-*
database/__pycache__
database/scripts/__pycache__
pdf

# ignored files
openalex/openalex-csv-files/*.csv
openalex/result-*.jsonl
database/scripts/database.ini
database/postgres/.env

*.bat
grobid/open_access/

grobid/not_open_access/
